body {
	background-image: url('https://get.carriercrow.com/img/icon-bg.202f34c8.svg');
	background-repeat: no-repeat;
	background-position: 100% 70px;
}

.VPNavBar {
	.content {
		box-shadow: 40px 15px 30px #eee;
	}
}

.pager-link {
	background: #fff;
	box-shadow: 5px 5px 10px #eee;
}
