:root {
  --vp-c-info: #339AFF;

  --vp-c-purple: #381F52;
  --vp-c-purple-light: #59446f;
  --vp-c-purple-lighter: #7a6a8c;
  --vp-c-purple-dark: #2f1a44;
  --vp-c-purple-darker: #251537;

  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-light: var(--vp-c-purple-light);
  --vp-c-brand-lighter: var(--vp-c-purple-lighter);
  --vp-c-brand-dark: var(--vp-c-purple-dark);
  --vp-c-brand-darker: var(--vp-c-purple-darker);

  --popper-theme-background-color: var(--vp-c-purple-light);
  --popper-theme-background-color-hover: var(--vp-c-purple);
  --popper-theme-text-color: var(--vp-c-white);
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 15px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

body {
	background-image: url('https://get.carriercrow.com/img/icon-bg.202f34c8.svg');
	background-repeat: no-repeat;
	background-position: 100% 70px;
	background-attachment: fixed;
}

.VPNav {
	background: #fff;
	box-shadow: 5px 15px 30px #eee;
	.VPNavBar {
		border: none;
	}
	.VPNavBarTitle {
		border: none;
	}
	.title {
		color: transparent;
		background: #fff;
	}
}

.pager-link {
	background: #fff;
	box-shadow: 5px 5px 10px #eee;
}

.icon-code {
	font-size: 15px;
	border-radius: 5px;
	i {
		width: 15px;
		position: relative;
		top: 2px;
	}
}

.icon-text-1 {
	position: relative;
	top: .1rem;
}

.icon-text-2 {
	position: relative;
	top: .2rem;
}

.icon-text-3 {
	position: relative;
	top: .3rem;
}

.icon-text-4 {
	position: relative;
	top: .4rem;
}

.icon-text-5 {
	position: relative;
	top: .5rem;
}

.text-muted {
	color: #ccc;
}

blockquote {
	&.info {
		color: var(--vp-c-info);
		border-left-color: var(--vp-c-info);
	}
}

form {
	fieldset {
		margin: 20px;
		display: flex;
		flex-direction: column;
		border: none;

		label {
			font-weight: bold;
		}

		input[type="text"], select {
			background: none;
			border: solid #ccc;
			border-width: 0px 0px 1px 0px;
			padding: 10px;
			font-size: 20px;
		}
	}

	.hint {
		cursor: pointer;
		color: var(--vp-c-purple);
	}
}
